{% extends "master.html" %}
{% load static %}
{% block content %}
<div class="div" style="padding-top: 90px;" >
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">Loan History</div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped mb-0 dataTable" id="table" >
                        <thead>
                        <tr>
                            <th width="5%">Sl.no</th>
                            <th width="15%">Loan no:</th>
                            <th width="15%">Loan Date</th>
                            <th width="15%">Customer Name</th>
                            <th width="15%">Interest</th>
                            <th width="15%">Gross wt</th>
                            <th width="15%">Net wt</th>
                            <th width="15%">MarketValue</th>
                            <th width="15%">Loan Amount</th>
                            <th width="15%">Advance Paid</th>
                            <th width="15%">Doc Fees</th>
                            <th width="15%">Net Amount</th>
                            <th width="15%">Maturity Date</th>
                            </tr>
                        </thead>
                        <tbody class="font-style">
                           
                                </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


</div>
{% endblock %}